@color__primary:@color-swatch3;
@color__secondary:@color-swatch2;

@color__body--background:@color-swatch1;
@color__link--text:@color__secondary;
@color__companyname--text:@font__companyname--color;

@color__h1--text:@font__h1--color;
@color__h2--text:@font__h2--color;
@color__h3--text:@font__h3--color;
@color__h4--text:@font__h4--color;
@color__p--text:@font__p--color;

@color__button--background:@color__primary;
@color__button--text:@color__navigation--text;

@color__header--background:@color__primary;

@color__footer--background:@color__primary;

@color__navigation--text:@font__button--color;
@color__navigation--text--hover:@font__button--color-hover;
@color__navigation--text--selected:@font__button--color-hover;
@color__navigation-item--background: @color-swatch1;

@color__form--background:@color-swatch7;
@color__form-legend--text:@color-swatch4;

@color__twitter--background:@color-swatch7;
@color__twitter-item--background:@color-swatch7;

@color__blogsearch--background:@color-swatch1;
@color__blogsearch-legend--text:@color-swatch4;
@color__blogpostlist-article--background:@color-swatch1;
@color__blogpostlist-title--text:@font__h4--color;
@color__blogpost-article--background:@color-swatch1;
@color__blogpost-title--text:@font__h4--color;

@color__ecomproductslist-filters--background:@color-swatch1;
@color__ecomproductslist-label--text:@color-swatch4;
@color__ecomproductslist-product-item--background:@color-swatch1;
@color__ecomproductslist-product-title--text:@color-swatch4;
@color__ecomproduct--background:@color-swatch7;
@color__ecomproduct-title--text:@font__h4--color;
@color__ecomproduct-price--text:@font__h4--color;
@color__ecombasket--background:transparent;
@color__ecombasket-button--background:@color-swatch3;
@color__ecombasket-button--text:@color__navigation--text;

@color__menusections--background:@color-swatch1;
@color__menu--background: @color-swatch1;
@color__menu-item-title--text:@font__h4--color;
@color__menu-item--background:@color-swatch1;
@color__menu-item-featured-title--text:@font__h4--color;
@color__menu-section-featured--text:@font__h4--color;
